<table>
    <thead>
        <th>Продукт</th>
        <th>Напиток</th>
        <th>Блюдо</th>
        <th>Коммментарий</th>
    </thead>
    <tbody>
        <tr *ngFor="let product of products"
            (click)="editProduct(product)">
            <td>{{product.title}}</td>
            <td>{{getProductFieldValue(product, productFieldType.drink)}}</td>
            <td>{{getProductFieldValue(product, productFieldType.dish)}}</td>
            <td>{{getProductFieldValue(product, productFieldType.comment)}}</td>
        </tr>
    </tbody>
</table>

<app-edit-product></app-edit-product>