<fieldset class="container">
    <form (ngSubmit)="onSubmit()"
          (reset)="onReset()"
          [formGroup]="productForm"
          class="form">
        <div class="form-row">
            <select *ngIf="productForm.contains(productFieldType.drink.toString())"
                    [formControlName]="productFieldType.drink.toString()">
                <option [ngValue]="null"
                        disabled
                        selected>
                    Напиток
                </option>
                <option *ngFor="let drink of drinks"
                        [ngValue]="drink">
                    {{drink.title}}
                </option>
            </select>
            <select *ngIf="productForm.contains(productFieldType.dish.toString())"
                    [formControlName]="productFieldType.dish.toString()">
                <option [ngValue]="null"
                        disabled
                        selected>
                    Блюдо
                </option>
                <option *ngFor="let dish of dishes"
                        [ngValue]="dish">
                    {{dish.title}}
                </option>
            </select>
            <input *ngIf="productForm.contains(productFieldType.comment.toString())"
                   [formControlName]="productFieldType.comment.toString()"
                   type="text">
        </div>
        <div class="form-buttons">
            <button type="reset">Отмена</button>
            <button type="submit">Сохранить</button>
            <button *ngIf="deletable"
                    (click)="productDelete.emit()"
                    class="delete-btn"
                    type="button">
                Удалить
            </button>
        </div>
    </form>
</fieldset>